<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <title>EarlyBird Admin</title>
</head>
<body>
<h1>EarlyBird Admin - NPS 점수 상세 데이터</h1>
<button type="button" th:onclick="|location.href='@{/}'|">홈으로</button><br>
<span th:text="|데이터 업데이트 시간: ${dataLastUpdateAt}|">데이터 업데이트 시간: xxxxx</span>
<form style="display: inline" th:action="@{/refresh}" method="post">
    <button>데이터 새로고침</button>
</form>
<table class="table table-striped table-bordered">
    <tr class="table-dark" style="position: sticky; top:0">
        <th scope="col">no.</th>
        <th scope="col">유저 ID</th>
        <th scope="col">점수</th>
        <th scope="col">응답 시간</th>
    </tr>
    <tr th:each="response : ${responseList}">
        <td th:text="${responseStat.count}">1</td>
        <td th:text="${response.clientId}">유저 ID</td>
        <td th:text="${response.score}">점수</td>
        <td th:text="${response.createdTimeAtClient}">응답시간</td>
    </tr>
</table>

</body>
</html>